@model aspnet_mvc_ef_codefirst.Models.Adresler
@{
    ViewBag.Title = "Sil";
}

<h2>Adres sil</h2>
</hr>

<p>
    Aşağıdaki adresi silmek istiyor musunuz ?
</p>

<table>
    <tr>
        <td><b>Ad:</b></td>
        <td>@(Model.Kisi.Ad + " " + Model.Kisi.Soyad)</td>
        <td></td>
    </tr>
    <tr>
        <td><b>Adres: </b></td>
        <td>@Model.AdresTanim </td>
        <td></td>
    </tr>
</table>
@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID)
    <div class="input-group">
        <input type="submit" value="sil" class="btn btn-success" />
    </div>
}
<div class="input-group">
    @if (ViewBag.Result != null)
    {
        <div class="alert alert-@ViewBag.Status" role="alert">@ViewBag.Result</div>}


</div>
